@import './colors.css';
@import './typography.css';

.slidev-layout {
  background-color: var(--slidev-theme-background);
  color: var(--slidev-theme-text);

  padding-left: 4.7rem;
  padding-right: 4.2rem;
  padding-top: 4.4rem;
  padding-bottom: 6rem;

  h1 {
    color: var(--slidev-theme-primary);
  }

  .content {
    z-index: 2;
  }
}

.slidev-layout.logo {
  &::before {
    content: '';
    position:absolute;
    bottom: 0;
    right: 0;
    height: 5.6667rem;
    aspect-ratio: 7/3;
    background-image: url('../assets/RAc-Logo-2025-rechts-zwart.png');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 10;
  }

  &.logo--inverse::before {
    background-image: url('../assets/RAc-Logo-2025-rechts-wit.png');
  }
}
